#forgot-screen-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #dbdbdb;
}

.forgot-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: 480px;
    padding: 30px 20px;
    background-color: white;
    -webkit-box-shadow: 4px 3px 5px 6px rgba(179,179,179,1);
    -moz-box-shadow: 4px 3px 5px 6px rgba(179,179,179,1);
    box-shadow: 4px 3px 5px 6px rgba(179,179,179,1);
}

.forgot-container img {
    margin-bottom: 30px;
    width: 380px;
}

.welcome-container h4{
    font-size: 19px;
    margin-bottom: 10px;
}

.welcome-container p{
    font-size: 16px;
    margin-bottom: 30px;
}

.forgot-container form {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.forgot-container a{
    text-align: right;
    font-size: 14px;
    color: #555;
    margin-top: 10px;
    margin-bottom: 20px;
    text-decoration: none;
}

.btn-container {
    display: flex;
    flex-direction: row;
}